/* delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
    z-index: 1;
}

.pic {
    width: 192.5px;
    height: 192.5px;
    object-fit: cover;
}

.pic:hover {
    cursor: pointer;
}

.hover:hover {
    transition: 1s ease-in-out;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

.hover:hover > .plus-circle {
    animation: plus-circle-size 1s ;
}

.hover {
    width: 192.5px;
    height: 192.5px;
    background-color: rgba(21, 21, 21, 0.371);
    margin: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(221, 82, 60);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
}

@keyframes plus-circle-size {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale( 0.6);
    }
}