/* delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #ef6060;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 10px 15px#3a3a3a7e;
    position: absolute;
}

.big {
    width: 75px;
    height: 75px;
    z-index: 1;
    animation: big-dot 3s infinite alternate;/* alternate makes the animation go backwards*/
}

.medium {
    width: 50px;
    height: 50px;
    z-index: 2;
    animation: medium-dot 3s infinite alternate;
}

.small {
    width: 25px;
    height: 25px;
    z-index: 3;
    animation: small-dot 3s infinite alternate;
}

@keyframes big-dot {
    0%, 10%{
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes medium-dot {
    0%, 30%{
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes small-dot {
    0%, 50%{
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}